<!-- This message is rendered in APPLICATION.HTML.ERB -->
<div class="row">
  <div class="col-md-10">
    <!-- here we pass 2 parameters for message -->
    <% flash.each do |message_type, message| %>
    <!-- here we want to use MESSAGE-TYPE parameter to make bootstrap class of message type to be dynamic -->
    <div class="alert alert-<%= message_type %>"><%= message %>
    <!-- &#215 is close button icon in HTML -->
     <a class="close" data-dismiss="alert"> &#215; </a>
     </div>
     <% end %>
  </div>
</div>